/* variabels */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-duration: 0.5s;
  --padding-section: 70px;
  --color-section: #f6f6f6;
  --font-size-heading: clamp(2rem, 10vw, 3rem);
}
/* Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: hsl(210, 5%, 93%);
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin-top: -20px;
  font-size: 0.825rem;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start land line */
.landline {
  width: 100%;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landline .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  max-width: 100%;
}
.landline .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}
.landline .intro-text p {
  font-size: 25px;
  line-height: 1.8;
}
.features {
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 70px 0;
}
.features .container .feat {
  text-align: center;
  padding: 30px;
}
.features .container .feat i {
  color: var(--main-color);
  font-size: 3rem;
}
.features .container .feat h3 {
  font-weight: 800;
  font-size: 24px;
  margin: 30px 0;
}
.features .container .feat p {
  color: rgb(119, 119, 119);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8rem;
}
/* End land line */
/* Start serveices */
.services .container {
  position: relative;
}
.services .container .special-heading {
  color: rgb(235, 236, 237);
  font-weight: 850;
  font-size: var(--font-size-heading);
  text-align: center;
}
.services .container > p {
  color: rgb(121, 121, 121);
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  font-size: 40px;
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  font-weight: 700;
  line-height: 22px;
  font-size: 20px;
  margin: 0 0 0px;
}
.services .services-content .srv .text p {
  color: rgb(68, 68, 68);
  font-weight: 300;
  line-height: 27px;
  font-size: 18px;
}
.services .services-content .srv .image {
  text-align: center;
  position: relative;
}
.services .services-content .image img {
  width: 300px;
}
.services .services-content .image::after {
  content: "";
  position: absolute;
  top: 24%;
  right: 15px;
  width: 120px;
  height: 500px;
  background-color: #2c4755;
  z-index: -1;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End Servieces */
/* Start Portfolio */
.portfolio {
  background-color: var(--color-section);
}
.portfolio .container {
  position: relative;
}
.portfolio .container .heading {
  color: rgb(235, 236, 237);
  font-weight: 850;
  font-size: var(--font-size-heading);
  text-align: center;
  margin: 0;
  letter-spacing: -3;
}
.portfolio .container > p {
  color: rgb(121, 121, 121);
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  margin: -32px 0 0;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
  padding-bottom: 70px;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .portfolio .portfolio-content .card img {
    display: none;
  }
}
.portfolio .portfolio-content .card {
  background-color: #fff;
}
.portfolio .portfolio-content .card .info {
  padding: 15px;
}
.portfolio .portfolio-content .info h3 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}
.portfolio .portfolio-content .info p {
  color: rgb(68, 68, 68);
  font-weight: 300;
  line-height: 27px;
  font-size: 18px;
}
/* End .portfolio */
/* start about */
.about {
  padding-top: var(--padding-section);
  padding-bottom: calc(var(--padding-section) + 60px);
}
.about .container {
  position: relative;
}
.about .container .heading {
  color: rgb(235, 236, 237);
  font-weight: 850;
  font-size: var(--font-size-heading);
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}
.about .container > p {
  color: rgb(121, 121, 121);
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  margin: -33px 0 0;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 400px;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 440px;
  left: -25px;
  top: -8%;
  background-color: #ebeced;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 300px;
  top: -25px;
  left: 80%;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}
.about .about-content .image img {
  max-width: 250px;
}
.about .about-content .text {
  width: 60%;
}
.about .about-content .text p:first-child {
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 50px;
}
.about .about-content .text p:last-child {
  color: rgb(68, 68, 68);
  font-weight: 300;
  line-height: 2;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
/* end about */
/* start contact {} */
.contact {
  background-color: var(--color-section);
  padding-top: var(--padding-section);
  padding-bottom: calc(var(--padding-section) + 60px);
}
.contact .container {
  position: relative;
}
.contact .container .heading {
  color: rgb(235, 236, 237);
  font-weight: 850;
  font-size: var(--font-size-heading);
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}
.contact .container > p {
  color: rgb(121, 121, 121);
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  margin: -33px 0 0;
}
.contact .info > p {
  color: rgb(44, 71, 85);
  font-weight: 800;
  font-size: 37px;
  text-align: center;
  letter-spacing: -1px;
}
.contact .info a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 800;
  font-size: var(--font-size-heading);
  text-align: center;
  display: block;
  line-height: 10px;
}
.contact .info .social {
  display: block;
  text-align: center;
  line-height: 5rem;
}
.contact .info .social i {
  word-spacing: 5px;
  color: #888;
  margin-left: 5px;
  line-height: 1;
}
/* End contact */
/* Start footer */
.footer {
  padding-top: auto;
  background-color: var(--secondary-color);
  padding: 35px 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
  margin-left: 0 5px;
}
/* End footer */
